name: Security scan
on:
  pull_request:
  workflow_call:
    inputs:
      ENABLE_BANDIT:
        description: 'Enable the Bandit scanner - useful for Python only (deprecated, use ENABLE_SAST)'
        default: true
        type: boolean
      ENABLE_SAST:
        description: 'Enable SAST scanning with Semgrep'
        default: true
        type: boolean
jobs:
  trivy:
    name: Trivy scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Write Trivy config file
        run: |
          cat <<EOF > trivy.conf
          rules:
            - id: rule1
              category: general
              title: Generic Rule
              severity: 'MEDIUM,CRITICAL,HIGH'
              keywords:
                - secret
              regex: (?i)(?P<key>(secret))(=|:).{0,5}'\"['\"]
              secret-group-name: secret
          EOF

      - name: Security check - Trivy
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: 'fs'
          scan-ref: '.'
          severity: 'MEDIUM,CRITICAL,HIGH'
          exit-code: '1'
          trivy-config: 'trivy.conf'
          format: 'table'
          output: 'trivy-results.txt'

      - name: Print Trivy results
        if: always()
        run: cat trivy-results.txt


  semgrep:
    name: Semgrep scan
    runs-on: ubuntu-latest
    if: ${{ inputs.ENABLE_BANDIT || inputs.ENABLE_SAST }}
    container:
      image: semgrep/semgrep
    steps:
      - uses: actions/checkout@v6
      - run: semgrep scan --config auto