name: Security scan
on:
  pull_request:
  workflow_call:
    inputs:
      ENABLE_BANDIT:
        description: "Enable the Bandit scanner - useful for Python only"
        default: true
        type: boolean
jobs:
  build:
    name: Check for vulnerabilities
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        if: ${{ inputs.ENABLE_BANDIT }}
        with:
          python-version: "3.x"

      - name: Security check - Bandit
        if: ${{ inputs.ENABLE_BANDIT }}
        run: |
          pip install bandit
          bandit -r . -ll -ii -s B101

      - name: Write Trivy config file
        run: |
          cat <<EOF > trivy.conf
          rules:
            - id: rule1
              category: general
              title: Generic Rule
              severity: 'MEDIUM,CRITICAL,HIGH'
              keywords:
                - secret
              regex: (?i)(?P<key>(secret))(=|:).{0,5}'\"['\"]
              secret-group-name: secret
          EOF

      - name: Security check - Trivy
        uses: aquasecurity/trivy-action@0.28.0
        with:
          scan-type: "fs"
          scan-ref: "."
          severity: "MEDIUM,CRITICAL,HIGH"
          exit-code: "1"
          trivy-config: "trivy.conf"
