name: Unit tests

on:
  workflow_call:

jobs:
  unit-testing:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up go
        uses: actions/setup-go@v2

      - name: run tests
        run: |
          go test -v -cover ./...
